@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex
     shadow-orange-300 rounded-full border-0 
     text-white text-sm p-2 bg-orange-400 shadow-md 
     hover:bg-white hover:cursor-pointer hover:text-orange-400
      hover:ring-2 hover:ring-orange-400 text-center;
  }
}
